<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have received a rating on your critique!
    </p>
    <p>
    To view it, <%= link_to "go view your critique", project_url(@project, anchor: "critique_#{@critique.id}") %>.
    </p>
    <%= render :partial => "notification_mailer/footer" %>
  </body>
</html>
