<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    You have received a critique on your project:
    </p>
    <p>
      <em>
        <%= truncate(@critique.text, length: 30) %>
      </em>
    </p>
    <p>
      To view the rest, <%= link_to "go to your project page", project_url(@project) %>.
    </p>
    <%= render :partial => "notification_mailer/footer" %>
  </body>
</html>
