<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    You have received a reply to your feedback:
    </p>
    <p>
      <em>
        <%= truncate(@response.text, length: 30) %>
      </em>
    </p>
    <p>
    To view it, <%= link_to "go view your feedback", project_url(@project, anchor: "critique_#{@critique.id}") %>.
    </p>
    <%= render :partial => "notification_mailer/footer" %>
  </body>
</html>
