<div class="badges row">
  <% available_badges.each do |b| %>
    <div class="task-badge col-md-2 <%= "achieved" if earned_badges.include? b %> ">
      <div class="task-badge-inner">
        <%= fa_icon "bookmark" %>
        <%= b.description %>
      </div>
    </div>
  <% end %>
</div>
