<div class='category'>
  <h2><%= link_to t('forem.forum.forums'), forem.root_path %> <%= fa_icon "angle-right" %> <%= link_to forem_emojify(@category), [forem, @category] %></h2>
  <%= render @category %>
</div>
