<h1>About</h1>
<p class="lead">
  <strong>Atelier</strong> is a tool to help artists mentor artists.
</p>
<% if Atelier::Application.config.skill_levels %>
  <p>
  The idea behind <strong>Atelier</strong> is to provide a place for you to keep a record of the progress you make on your creative goals. Others are matched to view your projects based on skill level, and they can keep tabs on how your develop your skills as your update your project. In turn, you can give back by providing feedback to the mentees that you're matched to.
  </p>
<% end %>
<p>
Hopefully, <strong>Atelier</strong> will be able to help artists move beyond receiving one-off feedback from people they're never see again, to establishing meaningful, long-term creative friendships.
</p>
<p>
<strong>Atelier</strong> is a developing project coming out of <%= link_to "Stanford University's HCI Group", "http://hci.stanford.edu" %> with the goal of making online creative mentorship better, created by <%= link_to "Joy Kim", "http://www.stanford.edu/~jojo0808" %>.
</p>
