<style>
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
  }
</style>

<p>
<strong>DESCRIPTION:</strong>  By registering on Atelier, you are invited to participate in a research study on your experience with Atelier. The purpose of this study to evaluate whether or not Atelier meets the needs of artists that want to teach and learn from each other online. The projects, critiques, and other social behavior on the Atelier site only will be logged for research purposes. These logs will be analyzed to create quantitative summaries of behavior on the site (e.g. the typical number of critiques written by a user, how often projects are posted, etc.) as well as to characterize the behavior of users on Atelier (e.g. analyzing the types of critiques or projects posted by mentees). These logs will be stored in password-protected servers and will be accessible only by the research team. To help spark participation on the site, art prompts will be provided once a week to help the community come up with ideas for projects to post on the site.
</p>
<p>
At the end of your participation, you may be asked to answer questions regarding the benefits and drawbacks of Atelier on finding both mentors and mentees, the effect of a mentoring relationship on your own growth as an artist, what you look for in a mentoring relationship, and the motivations that lie behind looking for such a relationship. The interviews will be conducted through voice-only Skype calls and will be recorded. If a Skype call is not possible or preferable, you may opt to be interviewed via chat instead, and transcripts of the chat will be recorded. Recordings will be transcribed and analyzed and then will be stored in password-protected servers and will be accessible only by the research team. Your interviews will be analyzed in conjunction with your usage activity on the Atelier site (such as posting art projects, critiquing, and liking). If asked for an interview, you may choose to refuse with no penalty.
</p>
<p>
<strong>TIME INVOLVEMENT:</strong>  The time involvement for participating in this study is 4 weeks. One art prompt will be provided per week. However, the time actually spent on the Atelier website is up to you. As long as you complete a response to each art prompt, you are not obligated to spend any certain amount of time on Atelier and are free to spend as much or as little time participating on the site as you wish. If you asked for an interview, the interview will take approximately 30 to 60 minutes.
</p>
<p>
<strong>RISKS AND BENEFITS:</strong>  There are no foreseeable risks associated with this study. The content you generate through your participation on Atelier may be able to help improve Atelier so that it is better able to support finding mentors for artists like yourself. We cannot and do not guarantee or promise that you will receive any benefits from this study. 
</p>
<p>
<strong>PAYMENTS:</strong>  You will receive a $25 Amazon.com gift card as a token of thanks for participating in this study. If you are asked to interview, whether or not you agree to an interview will not affect any payment you receive.
</p>
<p>
<strong>PARTICIPANT’S RIGHTS:</strong>  If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. The alternative is not to participate. The results of this research study may be presented at scientific or professional meetings or published in scientific journals. Any mention of participants will be anonymized for the sake of privacy.
</p>
<p>
<strong>CONTACT INFORMATION:</strong><br />
<strong><em>Questions:</em></strong>  If you have any questions, concerns or complaints about this research, its procedures, risks and benefits, contact the Protocol Director, Joy Kim, at <a href="mailto:jojo0808@stanford.edu">jojo0808@stanford.edu</a> or 503-545-6182.
<br /><br />
<strong><em>Independent Contact:</em></strong>  If you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Stanford Institutional Review Board (IRB) to speak to someone independent of the research team at (650)-723-2480 or toll free at 1-866-680-2906.  You can also write to the Stanford IRB, Stanford University, MC 5579, Palo Alto, CA 94304.
</p>
<p> 
If you consent to participating in this study, please proceed to register an account on the Atelier website. 
</p>
<p>
Please print an extra copy of this consent form for your records.
</p>
