<ul class="new-project-progress">
  <li class="<%= 'active' if active_step >= 1 %>">Post New Project</li>
  <li class="<%= 'active' if active_step >= 2 %>">Rate Critiques</li>
  <li class="<%= 'active' if active_step >= 3 %>">Write Critiques</li>
</ul>
