<ul class="new-project-progress">
  <li class="<%= 'active' if active_step >= 1 %>">Post New Project</li>
  <li class="<%= 'active' if active_step >= 2 %>">Rate Feedback</li>
  <li class="<%= 'active' if active_step >= 3 %>">Give Feedback</li>
</ul>
