<%= render 'header' %>
<%= render 'projects/new_steps', active_step: 1 %>

<h1>Post a Project</h1>

<p>
Receive mentoring by creating projects you want help with. A project should represent a learning goal that you want to achieve. This could range from skill-related things like "Learn how to draw cats" to more "meta" projects like "Prepare for a tabling at a conference".
</p>

<p>
<strong>Example Project:</strong> <a href="http://atelier-stanford.herokuapp.com/projects/8">Improve my figure drawing skills</a>
</p>
<hr />
<%= render 'form', button_name: "Create" %>
