<h1>Post a Project</h1>

<p>
Receive mentoring by creating projects you want help with. This could range from skill-related things like "Learn how to draw cats" to more "meta" projects like "Prepare for a tabling at a conference".
</p>
<ol>
  <li>Create a new Google Doc using <a href="https://docs.google.com/document/d/1bLkfMrFDs1rYiHiXlRb8VLcalVewtLgWwsWKdk4q180/edit#">this template</a>. <strong>Make sure to <a href="https://support.google.com/drive/answer/2494822?hl=en">share the document</a> to "Anyone with the link".</strong></li>
  <li>Fill out the form below, pasting the URL for the Google Doc you just created.</li>
</ol>

<%= render 'form' %>
