<%= render 'projects/new_steps', active_step: 3 %>

<h1>Give Feedback</h1>

<p class="lead">
  To start receiving feedback on your new project, you need to first give feedback to someone else. 
</p>

<hr />
