.critique {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;

  & > div {
    padding: 10px;
  }

  .critique-header {
    background: #eee;
    height: 40px;
    line-height: 20px;
  }

  .liked-message {
    font-size: smaller;
    border-radius: 0;
  }

  hr {
   margin: 0;
  }

  .critique-actions {
    color: #aaa;
  }
}

.new_critique, .edit_critique {
  .text {
    margin-bottom: 0;

    textarea {
      width: 100%;
      padding: 5px;
    }
  }

  .nominate {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;

    &.starred {
      background: #f0ad4e;
      border-color: #eea236;
      font-weight: bold;
      color: #fff;
    }
  }
}
