.critique {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;

  & > div {
    padding: 10px;
  }

  .critique-header {
    background: #eee;
    height: 40px;
    line-height: 20px;
  }

  hr {
   margin: 0;
  }

  .critique-actions {
    color: #aaa;
  }
}

.new_critique, .edit_critique {
  textarea {
    width: 100%;
    padding: 5px;
  }
}
