// Projects Show
.project-header {
  margin-top: 0 !important;

  small {
    font-size: 50%;
  }
}

.project-actions {
  .btn {
    border-color: #ccc;
  }
}

// Projects Index
.project-index {
  margin-top: 30px;
}

.project-list {
  tr.header {
    background-color: #eee;
  }
}

.sort-projects {
  .form-control {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
  }
}

.project {
  padding: 10px;

  .thumbnail {
    padding: 10px;
    margin-bottom: 0;

    &:hover {
      text-decoration: none;
      border-color: #428bca;
    }

    .pull-left {
      max-width: 80%;
    }
  }

  .project-link {
    h3 {
      margin: 10px 0;
    }
    
    p {
      color: #666;
    }
  }

  .project-info {
    color: #666;
  }
}

// Folder New, Edit
.new_folder, .edit_folder {
  input {
    margin-bottom: 10px;
  }

  .actions {
    margin-top: 10px;
  }
}
