// Folder New, Edit
.new_folder, .edit_folder {
  input {
    margin-bottom: 10px;
  }

  .actions {
    margin-top: 10px;
  }
}

.folders-entries-choose {
  margin-top: 10px;

  .panel-body {
    table {
      td.entry-name {
        padding-right: 30px;
      }
    }
  }
}
