.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

.metanav {
  text-align: right;
  padding: 5px 15px;

  a {
    display: block-inline;
    margin-left: 20px;
  }
}

textarea.md-input {
  padding: 10px;
}

#error_explanation {
  h2 {
    font-size: 1.5em;
    margin-top: 10px;
  }
}

footer {
  line-height: 50px;
  
  hr {
    margin-bottom: 0;
  }

  .pull-left {
    font-weight: bold;  
  }

  .pull-right {
    img {
      width: 200px;
    }
  }
}
