.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

footer {
  line-height: 50px;
  
  hr {
    margin-bottom: 0;
  }

  .pull-left {
    font-weight: bold;  
  }
}
