/* Dashboard Page */
.dashboard {
  h1 {
    padding-bottom: 10px;
  }

  .actions {
    margin-bottom: 20px; 
    
    & > a {
      display: block;
      margin-bottom: 10px;
    
      &:hover {
        text-decoration: none;
      }
    }
    
    & > a .inner {
      opacity: 0.8;
      transition: opacity 0.3s;
      text-align: center;
      border-radius: 10px;
      padding: 10px;
      font-weight: bold;
      color: #fff;
      font-size: 1.5em;

      &:hover {
        opacity: 1;
      }
    }

    .fa {
      display: block;
      font-size: 3em;
      padding-top: 5px;
    }

    .post-project .inner {
      background-color: #f0ad4e; 
    }

    .mentor-project .inner {
      background-color: #5bc0de;
    }

    .view-profile .inner {
      background-color: #5cb85c;
    }
  }

  .badges-container {
    h3 {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
