// Projects Show
.project-header {
  margin-top: 0 !important;

  small {
    font-size: 50%;
  }
}

.project-actions {
  .btn {
    border-color: #ccc;
  }
}

// Projects Index
.project {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  .project-link {
    h3 {
      margin: 10px 0;
    }
  }
}
