// Projects Show
.project-header {
  margin-top: 0 !important;

  small {
    font-size: 50%;
  }
}

.project-actions {
  .btn {
    border-color: #ccc;
  }
}

// Projects Index
.project {
  padding: 10px;

  .thumbnail {
    padding: 10px;
    margin-bottom: 0;

    &:hover {
      text-decoration: none;
    }
  }

  .project-link {
    h3 {
      margin: 10px 0;
    }
    
    p {
      color: #666;
    }
  }

  .project-info {
    color: #666;
  }
}
