// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Project Index
.user-show {
  padding-top: 30px;
}

// Projects Show
.project-header {
  margin-top: 0 !important;

  small {
    font-size: 50%;
  }
}

.project-actions {
  margin-bottom: 10px;
  .btn {
    border-color: #ccc;
  }
}

// Projects Index
.project-index {
  margin-top: 30px;
}

.project-list {
  tr.header {
    background-color: #eee;
  }

  .project-thumbnail {
    width: 170px; /* min-width of img + margin */

    img {
      max-height: 150px;
      max-width: 150px;
      margin: 10px;
    }
  }
}

.sort-projects {
  .form-control {
    display: inline-block;
    width: 250px;
    margin-left: 10px;
  }
}

.project {
  padding: 10px;

  .thumbnail {
    padding: 10px;
    margin-bottom: 0;

    &:hover {
      text-decoration: none;
      border-color: #428bca;
    }

    .pull-left {
      max-width: 80%;
    }
  }
}

// Project New
.back-to-folder {
  margin-top: 0px !important;
}

.new_project, .edit_project {
  input[type="text"] {
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #ccc;
  }

  .largely {
    font-size: x-large;
    width: 480px;
    height: 45px;
    line-height: 45px;
    font-family: 'Merriweather', Georgia;
  }

  .actions {
    margin-top: 10px;
  }

  .image-label {
    display: block;
  }

  .field_with_errors label.message {
    display: none;
  }

  label small {
    font-weight: normal;
  }
}

.new-project-progress {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  background: #ededed;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  position: relative;

  li {
    list-style-type: none;
    font-size: smaller;
    width: 33.33%;
    float: left;
    position: relative;
    text-align:center;
    text-transform: uppercase;

    &:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      font-weight: bold;
      color: #333;
      background: #fff;
      border-radius: 3px;
      margin: 0 auto 5px auto;
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &.active:before, &.active:after {
      background: #428bca;
      color: #fff;
    }
  }
}
  
.helpful-critiques {
  .critiques-select {
    label {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    input {
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }

    table {
      width: 100%;

      td {
        padding: 5px 0;
      }

      td.critique-select, td.critique-select label {
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
      }

      td.critique-link {
        width: 20%;
      }

      td.critiquer {
        width: 30%;
      }
    }
  }
}

// Project Show
.project-info {
  h1 {
    margin-top: 0;
  }
}

.project-image {
  text-align: center;
  margin-bottom: 10px;

  img {
    max-width: 100%;
    cursor: pointer;

    &.small {
      max-height: 600px;
    }
  }
}
