.response {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  width: 80%;
  margin-left: auto;

  & > div {
    padding: 10px;
  }

  .response-header {
    background: #eee;
    height: 40px;
    line-height: 20px;
  }

  hr {
    margin: 0;
  }

  .response-actions {
    color: #aaa;
  }
}

.new_response, .edit_response {
  width: 80%;
  margin-left: auto;

  textarea {
    padding: 5px;
  }
}
