.new_user {
  margin-bottom: 20px;
  width: 500px;

  .skill-level-select {
    margin-bottom: 10px;

    .inner {
      opacity: 0.4;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      -webkit-transition: opacity 0.3s;

      h3 {
        font-size: 1.3em;
        margin-top: 10px;
        color: #fff;
        text-align: center;
      }

      p {
        font-size: smaller;
      }

      .stars {
        font-size: 2em;
        color: #fff;
        text-align: center;
      }

      &:hover {
        opacity: 1;
      }
    }
    
    &.beginner .inner {
      background-color: #f0ad4e; 
    }

    &.intermediate .inner {
      background-color: #5bc0de;
    }

    &.advanced .inner {
      background-color: #5cb85c;
    }

    &.active .inner {
      opacity: 1;
    }
  }

  iframe {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .field_with_errors {
    label.message {
      display: none;
    }
  }
}

.user-actions {
  margin-top: 20px;
}

.badges-panel {
  .panel-body {
    margin-bottom: -40px;
  }
}

.badges {
  & > .clearfix {
    margin-bottom: -40px;
  }

  .task-badge {
    float: left;
    margin-bottom: 40px;
    margin-right: 40px;

    .task-badge-inner {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      font-size: smaller;
      background-color: #ddd;
      border: 5px solid #fff;
      box-shadow: 0 0 0 5px #ddd;
      padding: 10px;
      color: #999;
      position: relative;

      .fa-bookmark {
        position: absolute;
        font-size: 18px;
        bottom: 6px;
        left: 50%;
        margin-left: -7px;
      }
    }

    &.achieved {
      .task-badge-inner {
        color: #333;
        background-color: #93E1FF;
        box-shadow: 0 0 0 5px #FF6F42;

        .fa-bookmark {
          color: rgb(255, 48, 48);
        }
      }
    }
  }
}
